@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
      font-size: 10px;
      scroll-behavior: smooth;
      font-family: 'Poppins', sans-serif;
}
.presentation{
      background-image: url(../img/laptopp1.png);
      background-size:cover;
      background-position: top center;
      background-repeat: no-repeat;
      position: relative;  /*Para responsividade. Img tem largura fixa e os dispositivos têm larguras diferentes. Com o relative, a imagem vai permanecer no mesmo logcal independente da largura da tela*/
}
.container{
      min-height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
}

.presentation h1{
      display: block;
      width: fit-content;
      /*The fit-content behaves as fit-content(stretch). In practice this means that the box will use the available space, but never more than max-content.*/
      font-size: 5rem; /*relative*/
      color: white;
      position: relative;
}
.presentation .cta{
      display: inline-block;
      padding: 10px 30px;
      background-color: transparent;
      border: 3px solid #F9F681;
      color:#F9F681;
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase;
}
.presentation .cta:hover{
       background-color: #f98fc2d1;
       
       color: white;
       border: 3px solid white;
}
a{
      text-decoration: none;
}     