@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
      font-size: 10px;
      scroll-behavior: smooth;
      font-family: 'Poppins', sans-serif;
}
a{
      text-decoration: none;
}   
img{
	width: 100%;
      height: auto;
	object-fit: cover;
}
p{
      font-size: 1.4rem;
      margin-top: 5px;
      line-height: 2.5rem;
      font-weight: 200;
      letter-spacing: .15rem;
}
.clear{
      clear: both;
}
/* Seção de apresentação */

.presentation{
      background-image: url(../img/background.jpg);
      background-size:cover;
      background-position: top center;
      background-repeat: no-repeat;
      position: relative;  /*Para responsividade. Img tem largura fixa e os dispositivos têm larguras diferentes. Com o relative, a imagem vai permanecer no mesmo logcal independente da largura da tela*/
}
.container{
      min-height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
}

.section-title{
	font-size: 4em ;
	font-weight: 400;
	color:black;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}

.presentation h1{
      display: block;
      width: fit-content;
      /*The fit-content behaves as fit-content(stretch). In practice this means that the box will use the available space, but never more than max-content.*/
      font-size: 5rem; /*relative*/
      color: transparent;
      position: relative;
      animation: text_reveal .1s ease forwards;
      animation-delay: .4s;
}
.presentation h1:nth-child(1) {
      animation-delay: 1s;
}
.presentation h1:nth-child(2) {
      animation-delay: 2s;
}
.presentation h1:nth-child(3) {
      animation-delay: 3s;
}
.presentation h1 span{
      position: absolute;
      top:0;
      left: 0;
      height: 100%;
      width: 0%;
      animation: text_reveal_box 1s ease;

      background-color: white;
}
.presentation h1:nth-child(1) span{
      animation-delay: .5s;
}
.presentation h1:nth-child(2) span{
      animation-delay: 1.5s;
}
.presentation h1:nth-child(3) span{
      animation-delay: 2.5s;
}

.presentation .cta{
      display: inline-block;
      padding: 10px 30px;
      margin-top: 10px;
      color:aliceblue;
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
      /* background */
      background: rgb(254,186,91);
      background: -moz-linear-gradient(90deg, rgba(254,186,91,0) 29%, rgba(254,186,91,1) 29%, rgba(254,186,91,1) 36%, rgba(232,158,79,1) 50%, rgba(237,158,95,1) 57%, rgba(237,158,95,1) 66%, rgba(229,134,116,1) 78%, rgba(236,121,134,1) 91%, rgba(246,96,147,1) 100%);
      background: -webkit-linear-gradient(90deg, rgba(254,186,91,0) 29%, rgba(254,186,91,1) 29%, rgba(254,186,91,1) 36%, rgba(232,158,79,1) 50%, rgba(237,158,95,1) 57%, rgba(237,158,95,1) 66%, rgba(229,134,116,1) 78%, rgba(236,121,134,1) 91%, rgba(246,96,147,1) 100%);
      background: linear-gradient(90deg, rgba(254,186,91,0) 29%, rgba(254,186,91,1) 29%, rgba(254,186,91,1) 36%, rgba(232,158,79,1) 50%, rgba(237,158,95,1) 57%, rgba(237,158,95,1) 66%, rgba(229,134,116,1) 78%, rgba(236,121,134,1) 91%, rgba(246,96,147,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#feba5b",endColorstr="#f66093",GradientType=1);
      background-position: left;
      background-size: 350%;
      transition: background-position 1s;

      /* add gradient border */
      border: 4px solid;
      border-image-slice: 1;
      border-image-source:linear-gradient(90deg, rgba(254,186,91,0.88) 3%, rgba(232,158,79,0.88) 13%, rgba(237,158,95,0.88) 23%, rgba(229,134,116,0.88) 40%, rgba(229,134,116,0.88) 53%, rgba(236,121,134,0.8802871490393032) 76%, rgba(246,96,147,0.8858893899356618) 100%);
     
}
.presentation .cta:hover{
      background-position: right;
}


/*add filter in background*/
.presentation::after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.3;
      z-index: 0;

}
/* Para que os elementos filhos dentro da classe presentation tenham o z-index = 2*/
.presentation > *{
      z-index: 2;
      position: relative;
}

/* Seção de portifólio */
#portfolio .portfolio{
      flex-direction: column;
      max-width: 1200px;
      margin: 0 auto;
      padding: 100px 0;

}

#portfolio .all-projects{
      display: flex;
      align-items: center;
      justify-items: center;
      flex-direction: column;
}
#portfolio .project-item{
      display: flex;
      align-items: center;
      justify-items: center;
      flex-direction: column;
      width: 80%;
      margin: 20px auto;
      overflow: hidden;
      border-radius: 10px;

}

#portfolio .project-info{
      padding: 30px;
      flex-basis: 50%;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      background-image: linear-gradient( 145deg, #4105af 10%, #000132 100%);
      color: white;

}
#portfolio .project-info h1{
      font-size: 3.7em;
      font-weight: 600;
}
#portfolio .project-info h2{
      font-size: 1.8em;
      margin-top: 10px;
      font-weight: 500;
}
#portfolio .project-img{
      flex-basis: 50%;
      height: 300px;
      overflow: hidden;
      position: relative;
      width: 100%;
}
#portfolio .project-img::after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgb(136, 134, 134);
      opacity: .4;
}
#portfolio .project-img img{
      transition: 0.5s ease transform;
}
.project-img:hover img{
      transform: scale(1.15);
}

.section-title{
	font-size: 4em ;
	font-weight: 400;
	color:black;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
      margin-bottom: 10px;
}

#portfolio li{
      font-size: 1.4rem;
      margin-top: 5px;
      line-height: 2.5rem;
      font-weight: 200;
      letter-spacing: .15rem;
}
#portfolio .list-style{
      margin-top: 5px;
}
#portfolio .list-title{
      font-weight: 400;
}

/* footer */
#footer{
      display: flex;  
      flex-direction: column;  
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      background-color: #a09fa3a1;
}

#footer .social-container {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 10px;
      width: 400px;
}

#footer .social-container .social-icons{
      list-style: none;
      width: 100%;
      margin-right: 40px;

}

#footer .social-container .social-icons li{
      display: inline-block;
      padding: 20px 20px 10px 20px;
      font-size: 2.5rem;
      margin: 8px;
      
}
#footer p{
      font-size: 1em;
      font-weight: 300;
}
#footer .autor{
      font-weight: 600;
      color: white;
}
#footer i{
      color:rgb(84, 34, 193);
}

/* keyframes */

@keyframes text_reveal{
      100%{
      color: white;
      }
}
@keyframes text_reveal_box{
      50%{
            width: 100%;
            left:0;
      }
      100%{
            width: 0;
            left:100%;
      }
}


/* Media Query */

@media only screen and (min-width:768px){
      #portfolio .project-item{
            flex-direction: row;
            height: 400px;
            margin:0;
            width: 100%;
            border-radius: 0;
      }
      #portfolio .all-projects .project-info{
            height: 100%;
      }
      #portfolio .all-projects .project-img{
            height: 100%;
      }
      #portfolio .project-item:nth-child(even){
            flex-direction: row-reverse;
      }
}